:root {
    --background-color: #eeeeee;
    --secondary-color:  #ffffff;
    --hover-color:      #666666;
    --clicked-color:    #888888;
    --foreground-color: #222222;
    --max-width: 1200px;
    --header-background-image: linear-gradient(to bottom, #1a69a8, #14528b);
    --pad: 5px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 18px;
    background-color: var(--background-color);
}

a {
    pad: var(--pad);
    color: var(--foreground-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

/* .border { */
/*     border: 2px solid var(--foreground-color); */
/* } */

button:hover {
    background-color: var(--hover-color);
}

th {
    text-align: left;
}

/* td { */
/*     margin-left: 5px; */
/*     margin-right: 5px; */
/* } */

table {
  border-collapse: separate;
  border-spacing: 20px 0; /* 20px horizontal, 0px vertical */
}   
